body {
    background-color:#FFFDFF;
    padding-right: 20px;    padding-left: 20px; 
}

a.external {
    background-image: url('../assets/Icon_External_Link.png');
    padding-right: 12px;
    text-decoration: none;
    background-position: right;
    background-repeat:no-repeat;
}

a img {
    border:none;
}
a {
    text-decoration:none;
    color: #11E;
}

a:visited {
    color: #68B;
}
h1,h2,h3 {
    font-family:arial, helvetica, sans-serif;
    color: #055;
    margin-top:10px;
    margin-bottom:10px;
}
h1 {
    font-size:18pt;
    margin-bottom:10px;
}
h2 {
    font-size: 16pt;
}
h3 {
    font-size:14pt;
}


.big table {padding-left:50px;}
.big th {
    font-size:14pt;
    font-weight: lighter;
    font-style: italic;
    text-align:left;
 }
.big th, td {padding-right:30px; 
}
.big td {
    font-size:14pt;
    text-align: left;
}

.nav {font-family:Zapf-Chancery, cursive;  padding-bottom:5px; border-bottom: solid 2px; }
.nav span {font-size:12pt}
span {padding-left:5px}
.good {background-color:lightgreen}
.warn {background-color:orange;}
.error {background-color:salmon;}
.missing {background-color:yellow;}
.paging {font-family:Zapf-Chancery, cursive;  padding-top:5px; border-top: solid 2px; }

.left {float:left;}
.right{float: right;}
.full {float:none;}
